<mat-card>
  <mat-card-title >
    Sportlink to Mailchimp converter
  </mat-card-title>
  <mat-card-subtitle style.display="block">
    A tool to convert a Sportlink export into a file that can be imported into Mailchimp.
  </mat-card-subtitle>
  <mat-card-content>
    <lib-data-converter [config]="config"></lib-data-converter>
  </mat-card-content>
</mat-card>
<footer>
  View source code on 
  <a href="https://github.com/EdwinOtten/sportlink_to_mailchimp" title="GitHub repository">GitHub</a>
</footer>
